<section>
  <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
  <ul style="list-style: none">
    <li ng-repeat="comment in vm.commentsList track by $index" style="border-bottom: 1px solid grey; display: flex; margin-bottom: 10px; padding-bottom: 15px;">
      <div style="display: flex; flex-direction: column;">
        <p>{{comment}}</p>
        <textarea ng-show="isReplyFormOpen" ng-bind="comment" ng-model="changedComment" rows="10" cols="50"></textarea>
        <div style="display: flex;">
          <button ng-click="vm.edit(); isReplyFormOpen = !isReplyFormOpen" >Edit comment</button>
          <button ng-click="vm.removeComment($index)">Remove comment</button>
          <button ng-click="vm.saveComment(changedComment, $index); isReplyFormOpen = !isReplyFormOpen">Save comment</button>
        </div>
      </div>
    </li>
  </ul>

  <form name="commentsForm" style="display: flex; flex-direction: column;">
    <textarea ng-model="content" rows="10" required></textarea>
    <button type="submit" ng-disabled="commentsForm.$invalid" ng-click="vm.addComment(content)" style="margin-top: 10px; padding: 10px 0;">Save comment</button>
  </form>

</section>
